/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(55, 54, 54);
  color: beige;
}

.row{
  display: flex;
}

.col{
  flex-grow: 1;
  margin-right: 10px;
}

input{
  display: block;
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
}

button{
  padding: 8px;
  border-radius: 8px;
  color: bisque;
  background-color: red;
  cursor: pointer;
}
